.poster {
    width: 230px;
    height: 350px;
    margin-right: 10px;
    background-color: #F1F0F0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.headimage {
    width: 230px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
}

.Info {
    width: 230px;
    height: 200px;
    background-color: #F1F0F0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Info-div {
    width: 230px;
    height: 30px;
}

.Info-row {
    display: inline;
}

.text-center {
    margin: 0 auto;
}

.display-card {
    width: 230px;
    overflow: hidden;
    margin-top: 10px;
    background-color: #F1F0F0;
}

.display-info {
    display: flex;
    padding: 0 10px;
    margin: 5px 0;
}

.display-label {
    color: #8E8E8E;
    width: 60px;
    margin-right: 35px;
    font-size: 12px;
    flex-shrink: 0;
}

.display-content {
    color: #8E8E8E;
    font-size: 12px;
    word-break: break-all;
}

.Info-font {
    font-size: 10px;
}
