<div class="poster" id="poster">
    <div class="headimage">
        <img style="width: 230px; height: 150px; background-color: white;"
             src=@Info.Url />
    </div>
    <div class="display-card">
        <div class="display-info" id="info-name_tag">
            <div class="display-label">@Info.Name</div>
        </div>
        <div class="display-info" id="WorkTime_tag">
            <div class="display-label">在班时间</div>
            <div class="display-content">08:30-17:30</div>
        </div>
        <div class="display-info">
            <div class="display-label">状态</div>
            <div class="display-content">statu</div>
        </div>
        <div class="display-info">
            <div class="display-label">电话:</div>
            <div class="display-content">@Info.PhoneNamber</div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public StaffInfo Info { get; set; } = new StaffInfo();
}
