@page "/displaypanel"
<h3>看板</h3>
<ITWebToolsUI.Shared.MyComponent.Poster Title="看板1" headimageurl="https://tse1-mm.cn.bing.net/th/id/R-C.901f8ebdab22d065baefeae6c2701cc0?rik=Z3Hew18zFaF%2bLQ&riu=http%3a%2f%2fwww.pp3.cn%2fuploads%2f20120418lw%2f13.jpg&ehk=Es5ZGH90h%2foCghvlIwdKfUiqpO05gLSgOEBU2i0Mwok%3d&risl=&pid=ImgRaw&r=0"></ITWebToolsUI.Shared.MyComponent.Poster>
@code {
    
}

